/*CSS样式初始化*/
body {
    font-size: 10%;
}

body,
textarea,
input,
button,
select,
keygen,
legend,
a {
    font-family: "MicroSoft YaHei", sans-serif;
    color: #3e3a39;
}

input::-webkit-input-placeholder {
    font-family: "微软雅黑";
}

input::-moz-placeholder {
    font-family: "微软雅黑";
}

input::-moz-placeholder {
    font-family: "微软雅黑";
}

input::-ms-input-placeholder {
    font-family: "微软雅黑";
}
dl, ol, ul, p {
  margin-bottom: .1rem;
}
li {
    list-style: none;
}
a:hover {
  text-decoration: none;
}
button {
    border: 0;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.iconfont {
    font-size: 20px;
    vertical-align: bottom;
}

.iconfont:before {
    vertical-align: bottom;
}

.container {
    width: 80%;
    padding: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

/* 公共头部 */
.public-header {
    height: .6625rem;
    background-color: #fff;
}

.public-header .navbar {
    height: .6625rem;
    padding: 0;
}

.public-header .navbar-brand {
    padding: 0;
    margin-right: .1rem;
    font-size: .125rem;
}

.public-header .navbar-brand img {
    width: 220px;
}

.public-header .nav-item {
    display: flex;
    align-items: center;
    height: .6625rem;
}

.public-header .nav-item .nav-link {
    display: block;
    color: #3e3a39;
    font-size: .12rem;
    padding-right: .1rem;
    padding-left: .1rem;
}

.public-header .nav-item .nav-link:hover {
    color: #ed681a;
}

.public-header .dropdown div {
    position: absolute;
    top: .6625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
    background-color: rgba(255, 255, 255, .9);
    display: none;
    font-size: .1rem;
    text-align: center;
}

.public-header .dropdown:hover div {
    display: block;
}

.public-header .dropdown div a {
    line-height: 54px;
    cursor: pointer;
    padding: .025rem .15rem;
}

.public-header .dropdown div a:hover {
    background-color: #ed681a;
    color: #fff;
}

@media (max-width: 992px) {
    .public-header {
        height: 48px;
    }

    .public-header .navbar-brand img {
        width: 220px;
    }

    .public-header .nav-item a {
        font-size: 12px;
    }
}

/* 公共底部 */
.public-footer {
  position: relative;
  background-color: #4c4c4c;
}
.public-footer::before {
  width: 120%;
  height: 1rem;
  position: absolute;
  left: -10%;
  top: -1rem;
  content: '';
  border-radius: 50% 50% 0 0;
  background:#4c4c4c;
  z-index: -1;
}
.public-footer .home-title-c h2 {
  color: #fff;
}
.public-footer-main {
  padding-bottom: .5rem;
}
.public-footer-main .row>div {
  position: relative;
}
.public-footer-ewm {
  display: flex;
  padding-top: .1rem;
  font-size: .1rem;
  color: #ccc;
  text-align: center;
}
.public-footer-ewm img {
  width: 100%;
  margin-bottom: .1rem;
}
.public-footer-tel {
  padding-top: .25rem;
  color: #dedede;
}
.public-footer-tel div {
  margin-bottom: .08rem;
  font-size: .15625rem;
  text-align: center;
}
.public-footer-tel div:last-of-type {
  margin-bottom: .12rem;
}
.public-footer-tel p {
  margin-bottom: .08rem;
  font-size: .1rem;
  text-align: center;
}
.public-footer-company {
  padding-top: .2rem;
  color: #dedede;
  text-align: center;
}
.public-footer-company h5 {
  margin-bottom: .04rem;
  font-size: .1375rem;
}
.public-footer-company p {
  margin-bottom: .4rem;
  font-size: .075rem;
  color: #989898;
}
.public-footer-company div {
  text-align: center;
}
.public-footer-company div a {
  margin-right: .05rem;
}
.public-footer-news {
  padding-top: .18rem;
}
.public-footer-news a {
  display: block;
  margin-bottom: .1rem;
  color: #dedede;
  font-size: .1125rem;
  text-align: center;
}
.public-footer-news a:first-child {
  color: #eee;
  font-size: .15625rem;
}
.public-footer-cutline {
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 1.65rem;
  border-radius: 1px;
  background: -webkit-linear-gradient(#4c4c4c, #b5b5b5,#4c4c4c); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#4c4c4c, #b5b5b5,#4c4c4c); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#4c4c4c, #b5b5b5,#4c4c4c); /* Firefox 3.6 - 15 */
  background: linear-gradient(#4c4c4c, #b5b5b5,#4c4c4c); /* 标准的语法 */
}
.public-footer-btm {
  padding-top: .1rem;
  padding-bottom: .1rem;
  background-color: #262626;
  line-height: 1.6;
  text-align: center;
  font-size: .1125rem;
  color: #ccc;
}
.public-footer-btm a {
  color: #ccc;
}
.public-footer-btm p {
  margin: 0;
}

/* 首页 */
.home-main {
    border-top: .6625rem solid transparent;
}

@media (max-width: 992px) {
    .home-main {
        border-top: 48px solid transparent;
    }
}

/* 首页banner */
.home-banner {
    background-color: #f8f8f8;
}

.home-banner .carousel-indicators li {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.home-banner .carousel-indicators .active {
    width: 42px;
}

.home-banner .carousel-control-next-icon,
.home-banner .carousel-control-prev-icon {
    width: 42px;
    height: 88px;
}

.home-banner .carousel-control-prev-icon {
    background-image: url(../images/banner/banner_left.png)
}

.home-banner .carousel-control-next-icon {
    background-image: url(../images/banner/banner_right.png);
    opacity: .5;
}

@media (max-width: 992px) {

    .home-banner .carousel-control-next-icon,
    .home-banner .carousel-control-prev-icon {
        width: 24px;
        height: 50px;
    }
}

/* 首页模块标题 */
.home-title {
    display: flex;
    margin-bottom: 60px;
}

.home-title-l,
.home-title-r {
    flex: 1;
    padding-top: 15px;
}

.home-title-l div {
    border-top: 3px solid #b5b5b5;
}

.home-title-r div {
    width: .275rem;
    height: .275rem;
    border: 3px solid #b5b5b5;
    border-left: none;
}

.home-title-c {
    text-align: center;
    padding: 0 30px;
}

.home-title-c h2 {
    margin-bottom: 10px;
    font-size: .175rem;
    color: #f07e18;
}

.home-title-c p {
    font-size: .1125rem;
    color: #b5b5b5;
}

.home-title2 .home-title-r div {
    border: none;
    width: auto;
    border-top: 3px solid #b5b5b5;
}

.home-title2 .home-title-l {
    text-align: right;
}

.home-title2 .home-title-l div {
    display: inline-block;
    width: .275rem;
    height: .275rem;
    border: 3px solid #b5b5b5;
    border-right: none;
}

.home-title3 .home-title-c p {
  position: relative;
}
.home-title3 .home-title-c p::before {
  content: "";
  position: absolute;
  top: .06rem;
  left: -.6rem;
  width: .35rem;
  height: 4px;
  border-radius: 1px;
  background-color: #b5b5b5;
}
.home-title3 .home-title-c p::after {
  content: "";
  position: absolute;
  top: .06rem;
  right: -.6rem;
  width: .35rem;
  height: 4px;
  border-radius: 1px;
  background-color: #b5b5b5;
}

/* 首页关于我们 */
.home-about {
    padding: 80px 0 60px;
    background-color: #f8f8f8;
}

.home-about-content {
    display: flex;
    position: relative;
    height: 430px;
}

.home-about-content-img {
    width: 37.5%;
    height: 430px;
    object-fit: cover;
}
.home-about-content-img img {
  width: 100%;
}

.home-about-content-text {
    flex: 1;
    padding: 5%;
    background-color: #fff;
}

.home-about-content-text p {
    font-size: 16px;
    line-height: 2;
}

.home-about-content-more {
    position: absolute;
    bottom: -30px;
    right: 50px;
    width: 175px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #ffc436;
}

.home-about-content-more a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 6px 0 26px;
    font-size: 18px;
}
.home-about-content-more a:hover {
  color: #2f2725;
}

.home-about-content-more img {
    width: 38px;
    height: 38px;
}

/* 首页四步 */
.home-step {
    background-color: #fff;
}

.home-step .container {
    height: 3.4rem;
    background: url('../images/home_stepbg.png') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.home-step ul {
    display: flex;
}

.home-step ul li {
    width: 25%;
}

.home-step ul li {
    width: 25%;
}

.home-step ul li div {
    padding-top: 2rem;
    padding-left: .1rem;
}

.home-step ul li:nth-child(2) div {
    padding-top: .6rem;
}

.home-step ul li:nth-child(3) div {
    padding-top: 1.8rem;
    padding-left: .3rem;
}

.home-step ul li:last-child div {
    padding-top: .8rem;
}

.home-step ul li div h3 {
    position: relative;
    margin-bottom: .3rem;
    font-size: .1375rem;
    color: #2f2725;
}

.home-step ul li div h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 26px;
    height: 4px;
    background-color: #595757;
}

.home-step ul li div h5 {
    margin-bottom: 16px;
    font-size: .125rem;
    color: #595757;
}

.home-step ul li div p {
    line-height: 2;
    font-size: .0875rem;
    color: #9e9e9e;
}

/* 首页新产品 */
.home-newproduct {
    margin-bottom: 80px;
}

.home-newproduct-main .nav-tabs {
    justify-content: flex-end;
    border: 0;
    margin-bottom: 45px;
}

.home-newproduct-main .nav-tabs li a {
    position: relative;
    display: block;
    width: 178px;
    height: 44px;
    line-height: 44px;
    border-radius: 22px;
    font-size: .15rem;
    text-align: center;
    color: #636363;
}

.home-newproduct-main .nav-tabs li a.active.show {
    background-color: #ffc436;
    color: #fff;
}

.home-newproduct-main .nav-tabs li a.active.show::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -14px;
    width: 28px;
    height: 3px;
    background-color: #ffc436;
}

.home-newproduct-main .tab-content {
    padding: 70px 0 80px;
    background-color: #ffc436;
}
.home-newproduct-main .tab-pane {
  overflow:hidden;
}
.home-newproduct-main .tab-pane ul {
  position: relative;
  left: 0;
  top: 0;
  width: 200%;
  padding: 0;
  animation-timing-function: ease-in-out;
  animation: rollAll 16s linear infinite;
}
@keyframes rollAll{
  0%{
    left: 0;
  }
  100%{
    left: -100%;
  }
}
.home-newproduct-main .tab-pane ul li {
  float: left;
  width: 12%;
  margin-right: .5%;
}
.home-newproduct-main .tab-pane ul img {
  width: 100%;
}

/* 首页产品中心 */
.home-product {
    position: relative;
    margin-bottom: 80px;
    overflow: hidden;
}

.home-product-bggray {
    position: absolute;
    right: 0;
    top: 1rem;
    width: 50%;
    height: 100%;
    background-color: #f8f8f8;
    z-index: -1;
}
.home-product-list {
  padding-bottom: .6rem;
}
.home-product-list li {
    display: flex;
    float: left;
    margin-bottom: 35px;
    font-size: 0;
}

.home-product-list li:nth-child(1) {
    width: 36%;
    height: 3.4rem;
    align-items: flex-end;
    margin-right: 2%;
}

.home-product-list li:nth-child(2) {
    width: 30%;
    height: 3.4rem;
    align-items: flex-end;
    margin-right: 2%;
}

.home-product-list li:nth-child(3) {
    width: 30%;
    height: 3.4rem;
    align-items: flex-end;
}

.home-product-list li:nth-child(4) {
    width: 30%;
    margin-right: 3%;
}

.home-product-list li:nth-child(5) {
    width: 43%;
    margin-right: 3%;
}

.home-product-list li:nth-child(6) {
    flex-wrap: wrap;
    width: 21%;
}

.home-product-list li:nth-child(6) .home-product-li:first-child {
    margin-bottom: 10%;
}

.home-product-list .home-product-li {
    width: 100%;
    height: fit-content;
    position: relative;
    box-shadow: 2px 2px 20px 2px #d0d0d0;
}

.home-product-list .home-product-li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-product-list .home-product-li h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .56rem;
    line-height: .56rem;
    margin-bottom: 0;
    color: #fff;
    font-size: .15rem;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.home-product-list .home-product-li>div {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.home-product-list .home-product-li>div div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: fit-content;
    transform: translate(-50%, -50%)
}

.home-product-list .home-product-li>div h5 {
    position: relative;
    margin-bottom: 30px;
    color: #ffe327;
    font-size: .24rem;
}

.home-product-list .home-product-li>div h5::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 78px;
    height: 3px;
    background-color: #fff;
}

.home-product-list .home-product-li>div h6 {
    margin-bottom: 10px;
    color: #fff;
    font-size: .125rem;
}

.home-product-list .home-product-li>div p {
    line-height: 2;
    color: #fff;
    font-size: .1rem;
}

.home-product-list .home-product-li:hover h4 {
    display: none;
}

.home-product-list .home-product-li:hover div {
    display: block;
}

/* 玩转视频 */
.home-video {
  margin-bottom: 160px;
}
.home-video-main {
  float: right;
  width: 86%;
  padding: .35rem .4rem .4rem;
  background-color: #ffcf28;
  overflow: hidden;
  box-shadow: 0 0 30px 0 #d0d0d0;
}
.home-video-play video {
  width: 100%;
  background-color: #fff;
}
.home-video-info {
  position: relative;
  width: 2.36rem;
  height: 3.25rem;
  margin-left: 20px;
  padding: .34rem .175rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff8e1;
  text-align: justify;
}
.home-video-info h5 {
  margin-bottom: .375rem;
  font-size: .1125rem;
  color: #333;
}
.home-video-info p {
  line-height: 2;
  font-size: .1125rem;
  color: #636363;
}
.home-video-info div {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
  border-radius: 50%;
  width: 2.36rem;
  height: 2.36rem;
  background-color: #ffcf28;
}
.home-video-info div img {
  width: 40%;
  margin-left: .3rem;
  margin-top: .2rem;
}

/* 合作案例 */
.home-case {
    padding-bottom: 100px;
}
.home-case-main {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}
.home-case-box {
    position: relative;
    width: 6.775rem;
    height: 3.4375rem;
}
.home-case-in {
    float: left;
}
.home-case-out {
    float: right;
}
.home-case-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-case-info {
    position: absolute;
    top: 0;
    width: 1.7375rem;
    height: 100%;
    padding-top: .875rem;
    padding-left: .356rem;
    background-color: rgba(0,0,0,.6);
}
.home-case-in .home-case-info {
    left: 0;
}
.home-case-out .home-case-info {
    right: 0;
}
.home-case-info h3 {
    margin-bottom: .13rem;
    color: #fff;
    font-size: .2375rem;
}
.home-case-info p {
    position: relative;
    color: #ccc;
    font-size: .125rem;
}
.home-case-info p::after {
    content: "";
    position: absolute;
    bottom: -.2rem;
    left: 4px;
    width: 45px;
    height: 4px;
    background-color: #fff;
}
.home-case-bg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 86%;
    margin-top: -2rem;
    height: 4rem;
    background-color: #f6f6f6;
    z-index: -1;
}

/* 数据 */
.home-data {
    position: relative;
    margin-bottom: 110px;
}
.home-data img {
    width: 100%;
}
.home-data-main {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.home-data-main ul {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.home-data-main li {
    text-align: center;
}
.home-data-main li h3 {
    margin-bottom: 5px;
    color: #ffd83e;
    font-size: .4875rem;
}
.home-data-main li p {
    color: #eee;
    font-size: .1125rem;
}

/* 合作品牌 */
.home-coop {
  margin-bottom: 2rem;
}
.home-coop-main {
  background-color: #f6f6f6;
}
.home-coop-main ul {
  width: 80%;
  margin: 0 auto;
  padding: .2rem 0;
}
.home-coop-main ul li {
  padding: .3rem;
}
.home-coop-main ul li img {
  width: 100%;
}