<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>环创狮</title>
  <meta name="keywords" content="环创狮">
  <meta name="description" content="环创狮">
  <link rel="stylesheet" href="../../static/libs/bootstrap4/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <script src="../../static/libs/jquery-3.2.1.min.js"></script>
  <script src="../../static/libs/popper.min.js"></script>
  <script src="../../static/libs/bootstrap4/js/bootstrap.min.js"></script>
  <script src="../../static/js/common.js"></script>
</head>

<body>
    <!-- 头部 -->
    <header class="fixed-top public-header">
        <nav class="container navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><img src="../../static/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon1"></span>
                <span class="navbar-toggler-icon1"></span>
                <span class="navbar-toggler-icon1"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="../home/index.html">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于环创狮</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="../newproducts/index.html">新品发布</a>
                        <div>
                            <a class="dropdown-item" href="../newproducts/index.html">新品发布</a>
                            <a class="dropdown-item" href="../newproducts/video.html">玩转视频</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="../products/index.html">产品中心</a>
                        <div>
                            <a class="dropdown-item" href="../products/index.html">庭院游乐设计</a>
                            <a class="dropdown-item" href="../products/index.html">卡通造型游乐器材设计</a>
                            <a class="dropdown-item" href="../products/index.html">微地形钻爬游乐器械设计</a>
                            <a class="dropdown-item" href="../products/index.html">园艺装饰设计</a>
                            <a class="dropdown-item" href="../products/index.html">常备游乐器材设计</a>
                            <a class="dropdown-item" href="../products/index.html">集中采购类产品</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">落地安装</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">合作案例</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

  <!-- 主区域 -->
  <section class="home-main">
    <!-- 首页banner -->
    <div id="carouselExampleIndicators" class="carousel slide home-banner" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../static/images/banner/01.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../static/images/banner/02.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../static/images/banner/03.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../static/images/banner/04.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../static/images/banner/05.jpg" alt="">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../static/images/banner/06.jpg" alt="">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- 关于我们 -->
    <div class="home-about">
      <div class="home-title">
        <div class="home-title-l">
          <div></div>
        </div>
        <div class="home-title-c">
          <h2>关于环创狮</h2>
          <p>ABOUT US</p>
        </div>
        <div class="home-title-r">
          <div></div>
        </div>
      </div>
      <div class="row container home-about-content">
        <div class="col-sm-4 home-about-content-img"><img src="../../static/images/home_about_img.jpg" alt=""></div>
        <div class="col-sm-8 home-about-content-text">
          <p>北京童趣环创狮科技有限公司源于2010年创办的安艺幼儿空间装饰，是由一群有志于为儿童提供更美视觉空间的设计者创建；致力于为幼儿园提供融美学和教育学为一体的幼儿园空间的规划与设计，是儿童教育领域环境设计行业领导者。
          </p>
          <p>
            环创狮;是一个有情怀有梦想的群体，笃信设计创造价值，环境造就成长。。以真爱给予孩子、以诚挚，取信于优秀幼儿园，以专业赢口碑于幼教界。服务的对象遍布国内数百个大中城市，包括三百多家幼儿园、早教、幼儿游泳、英语培训等幼教机构。
          </p>
          <p>
            未来环创狮我们的儿童空间设计和搭建将会延伸到更多城市，更多的儿童活动空间，从活动区角构建到玩教具、从墙面装饰到节庆活动的视觉元素……环创狮提供专业优质的儿童环境整合服务，让更多的的孩子和教育机构受惠于环创狮的出色创意和美......
          </p>
        </div>
        <div class="home-about-content-text1">
          <p>北京童趣环创狮科技有限公司是一家以设计驱动产品，集设计--生产--落地于一体的创意型公司。</p>
          <p>北京童趣环创狮科技有限公司源于2010年创办的北京安艺幼儿空间。环创狮是一个有情怀有梦想的群体，笃信设计创造价值，环境造就成长。环创狮矢志于创造具有鲜明个性及高度契合教育场景的园所空间,是众多强势幼教品牌的合作者。</p>
          <p>我们拒绝平庸，为创造而生,为颠覆而行。聚集智慧,诞生文明。</p>
        </div>
        <div class="home-about-content-more">
          <a href="">
            <span>MORE</span>
            <img src="../../static/images/home_about_more.png" alt="">
          </a>
        </div>
      </div>
    </div>

    <!-- 四步 -->
    <div class="home-step">
      <div class="container">
        <ul>
          <li>
            <div>
              <h3>环创狮</h3>
              <h5>环境创意设计师</h5>
              <p>Space Creative Designer</p>
            </div>
          </li>
          <li>
            <div>
              <h3>环创狮使命</h3>
              <h5>与孩子们一起创造更美空间</h5>
              <p>Let’s create<br />harmonious/better space<br />with children together</p>
            </div>
          </li>
          <li>
            <div>
              <h3>环创狮定位</h3>
              <h5>我们是孩子们的环创狮</h5>
              <p>We are Space Creative<br />Designer for childhood / young<br />generation</p>
            </div>
          </li>
          <li>
            <div>
              <h3>环创狮设计一切美好事物</h3>
              <p>We design everything wonderfully</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 新品 -->
    <div class="home-newproduct">
      <div class="home-title home-title2">
        <div class="home-title-l">
          <div></div>
        </div>
        <div class="home-title-c">
          <h2>新品发布</h2>
          <p>New product release</p>
        </div>
        <div class="home-title-r">
          <div></div>
        </div>
      </div>
      <div class="home-newproduct-main">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs container" role="tablist">
          <li role="presentation"><a href="#newproduct1" aria-controls="newproduct1" role="tab" data-toggle="tab"
              class="active show" id="newproductnav1">ALL</a></li>
          <li role="presentation"><a href="#newproduct2" aria-controls="newproduct2" role="tab" data-toggle="tab"
              id="newproductnav2">新品发布</a></li>
          <li role="presentation"><a href="#newproduct3" aria-controls="newproduct3" role="tab" data-toggle="tab"
              id="newproductnav3">获奖产品</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="newproduct1">
            <ul class="clearfix">
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="newproduct2">
            <ul class="clearfix">
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="newproduct3">
            <ul class="clearfix">
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo01.jpg" alt=""></li>
              <li><img src="../../static/images/product/home_product_logo02.jpg" alt=""></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 产品中心 -->
    <div class="home-product">
      <div class="home-title">
        <div class="home-title-l">
          <div></div>
        </div>
        <div class="home-title-c">
          <h2>产品中心</h2>
          <p>Product center</p>
        </div>
        <div class="home-title-r">
          <div></div>
        </div>
      </div>
      <div class="container home-product-main">
        <div class="home-product-list">
          <ul class="clearfix">
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product01.jpg" alt="">
                <h4>庭院游乐设计</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product02.jpg" alt="">
                <h4>卡通造型游乐器材设计</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product03.jpg" alt="">
                <h4>微地形钻爬游乐器械设计</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product04.jpg" alt="">
                <h4>园艺装饰设计</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product05.jpg" alt="">
                <h4>卡通造型游乐器材</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="home-product-li">
                <img src="../../static/images/product/product06.jpg" alt="">
                <h4>新建园采购名录</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
              <div class="home-product-li">
                <img src="../../static/images/product/product07.jpg" alt="">
                <h4>评级验收类采购名录</h4>
                <div>
                  <div>
                    <h5>庭院游乐设计</h5>
                    <h6>中国神龙</h6>
                    <p>阳光、沙地、中国神龙、儿童欢笑声交织成的儿童嬉戏场景。具有广泛包容性的设计思想，使之成为适应中式、国际、现代风格等不同风格的园所儿童游乐设施。</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="home-product-bggray"></div>
    </div>
    <!-- 玩转视频 -->
    <div class="home-video clearfix">
      <div class="home-title home-title2">
        <div class="home-title-l">
          <div></div>
        </div>
        <div class="home-title-c">
          <h2>玩转视频</h2>
          <p>PLAY VIDEO</p>
        </div>
        <div class="home-title-r">
          <div></div>
        </div>
      </div>
      <div class="row home-video-main">
        <div class="col-12 col-sm-7 home-video-play">
          <video src=""></video>
        </div>
        <div class="col-12 col-sm-4 home-video-info">
          <h5>北京童趣环创狮科技有限公司</h5>
          <p>源于2010年创办的安艺幼儿空间装饰，是由一群有志于为儿童提供更美视觉空间的设计者创建；致力于为幼儿园提供融美学和教育学为一体的幼儿园空间的规划与设计，是儿童教育领域环境设计行业领导者。</p>
          <div>
            <img src="../../static/images/lionlogo.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- 合作案例 -->
    <div class="home-case">
      <div class="home-title">
        <div class="home-title-l">
          <div></div>
        </div>
        <div class="home-title-c">
          <h2>合作案例</h2>
          <p>COOPERATION CASE</p>
        </div>
        <div class="home-title-r">
          <div></div>
        </div>
      </div>
      <div class="home-case-main clearfix">
        <div class="home-case-box home-case-in">
          <img src="../../static/images/home_case01.jpg" alt="">
          <div class="home-case-info">
            <div>
              <h3>室内案例</h3>
              <p>INDOOR CASE</p>
            </div>
          </div>
        </div>
        <div class="home-case-box home-case-out">
          <img src="../../static/images/home_case02.jpg" alt="">
          <div class="home-case-info">
            <div>
              <h3>室外案例</h3>
              <p>OUTDOOR CASE</p>
            </div>
          </div>
        </div>
        <div class="home-case-bg"></div>
      </div>
    </div>

    <!-- 数据 -->
    <div class="home-data">
      <img src="../../static/images/home_data_banner.jpg" alt="">
      <div class="home-data-main">
        <ul class="row container">
          <li class="col-4">
            <h3>2014+</h3>
            <p>超过2014次服务</p>
          </li>
          <li class="col-4">
            <h3>100%</h3>
            <p>客户满意率</p>
          </li>
          <li class="col-4">
            <h3>TOP500</h3>
            <p>世界五百强</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- 合作品牌 -->
    <div class="home-coop">
      <div class="home-title home-title3">
        <div class="home-title-l"></div>
        <div class="home-title-c">
          <h2>合作品牌</h2>
          <p>COOPERATIVE BRAND</p>
        </div>
        <div class="home-title-r"></div>
      </div>
      <div class="home-coop-main">
        <ul class="row">
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo01.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo02.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo03.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo04.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo01.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo02.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo03.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo04.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo01.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo02.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo03.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo04.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo01.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo02.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo03.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo04.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo01.png" alt=""></li>
          <li class="col-3 col-sm-2"><img src="../../static/images/coop/home_coop_logo02.png" alt=""></li>
        </ul>
      </div>
    </div>

  </section>
  <!-- 底部 -->
  <footer class="public-footer">
    <div class="public-footer-arc"></div>
    <div class="public-footer-container">
      <div class="home-title home-title3">
        <div class="home-title-l"></div>
        <div class="home-title-c">
          <h2>联系我们</h2>
          <p>CONTACT US</p>
        </div>
        <div class="home-title-r"></div>
      </div>
      <div class="container public-footer-main">
        <div class="row">
          <div class="col-6 col-sm-4 public-footer-ewm">
            <div class="col-5 col-sm-6">
              <img src="../../static/images/footer_ewm01.png" alt="">
              <p>加微信与总监亲自交流</p>
            </div>
            <div class="col-5 col-sm-6">
              <img src="../../static/images/footer_ewm01.png" alt="">
              <p>关注公众号了解更多</p>
            </div>
            <div class="public-footer-cutline"></div>
          </div>
          <div class="col-6 col-sm-3 public-footer-tel">
            <div>Tel/17301159839</div>
            <div>Mob/010-567898</div>
            <p>地址：北京市通州北关新光大中心-8A1412</p>
            <p>63571710@qq.com</p>
            <div class="public-footer-cutline"></div>
          </div>
          <div class="col-sm-3 public-footer-company">
            <h5>北京童趣环床狮科技有限公司</h5>
            <p>Beijing Space Creative Designer technology co. LTD</p>
            <div>
              <a href=""><img src="../../static/images/footer_wx.png" alt=""></a>
              <a href=""><img src="../../static/images/footer_sina.png" alt=""></a>
              <a href=""><img src="../../static/images/footer_qzone.png" alt=""></a>
            </div>
            <div class="public-footer-cutline"></div>
          </div>
          <div class="col-sm-2 public-footer-news">
            <a href="">新闻中心</a>
            <a href="">原创观点</a>
            <a href="">公司新闻</a>
            <a href="">行业动态</a>
          </div>
        </div>
      </div>
      <div class="public-footer-btm">
        <div>友情链接: <a href="">北京安艺幼儿空间</a>、<a href="">青青藤国际幼儿园</a>、<a href="">金色摇篮教育集团</a>、<a href="">新浪</a>、<a
            href="">网易</a></div>
        <p>Copyright © 2011-2012 Beijing Space Creative Designer technology co.LTD | 北京童趣环创科技有限公司 |
          京ICP备11009594号-1
        </p>
      </div>
    </div>
  </footer>

  <script>

  </script>
</body>

</html>