<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>环创狮</title>
  <meta name="keywords" content="环创狮">
  <meta name="description" content="环创狮">
  <link rel="stylesheet" href="../../static/libs/css/bootstrap.min.css">
  <script src="../../static/libs/jquery-3.2.1.min.js"></script>
  <script src="../../static/libs/popper.min.js"></script>
  <script src="../../static/libs/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <h1>我的第一个 Bootstrap 页面</h1>
    <p>这是一些文本。</p>
  </div>
</body>

</html>